<div class="intro-container">
  <h1 class="intro-title">Hello Candidate!</h1>
  <p class="intro-text">
    Welcome to our recruitment platform. Explore job opportunities and manage your profiles efficiently.
  </p>
  <!-- <button class="scroll-button" (click)="scrollToVacancies()">Scroll to explore vacancies</button> -->

  <div class="scroll-container">
    <div class="scroll-text"><span>Scroll to view vacancies</span></div>
    <div class="mouse"></div>
    <div class="arrow-scroll">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>