<mat-accordion *ngIf="!isLoading; else loading">
  <mat-expansion-panel *ngFor="let vacancy of vacancies">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ vacancy.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <p>{{ vacancy.description }}</p>
      <p>{{ vacancy.details }}</p>
      <h6>Requirements:</h6>
      <ul>
        <li *ngFor="let requirement of vacancy.requirements">{{ requirement }}</li>
      </ul>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #loading>
  <p>Loading vacancies...</p>
</ng-template>